.files-table {
    border-collapse: collapse;
}

.files-table td, th {
    border: 1px solid black;
    padding: 4px;
}

.files-table th {
    text-align: left;
}

.ft-row-even {
    background-color: #b0ffc4;
}

#upload-ok {
    color: green;
    font-weight: bold;
}

* {
    font-family: sans-serif;
}


#file-code, #file-code * {
    font-family: "Cascadia Code", "Cascadia Mono", Consolas, monospace;
}

.act-link {
    color: green;
    text-decoration: none;
}

.act-link:hover {
    color: lime;
    text-decoration: underline;
}

#nav-header {
    display: inline;
}

#user-settings-box {
    width: fit-content;
}

#nav-mobile-menu-btn {
    float: right;
}

#mobile-menu-header {
    display: table;
    margin: 0 auto;
}

#img-file {
    max-height: 100vh;
}

#login-container {
    border: 1px solid black;
    border-radius: 7px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10px;
}

#login-container h1 {
    text-align: center;
}
