<h1 id="nav-header">jshs</h1>
<a href="/dashboard" class="act-link">dashboard</a> |
<a href="/uploads" class="act-link">files</a> |
<a href="/uploadPage" class="act-link">upload</a> |
<a href="/stats" class="act-link">stats</a> |
<a href="/settings" class="act-link">settings</a>
<hr>
