.filesTable {
    border-collapse: collapse;
}

.filesTable td, th {
    border: 1px solid black;
    padding: 4px;
}

#uploadOk {
    color: green;
    font-weight: bold;
}

* {
    font-family: sans-serif;
}

.nav-link {
    color: green;
    text-decoration: none;
}

.nav-link:hover {
    color: lime;
    text-decoration: underline;
}

#nav-header {
    display: inline;
}
