.files-table {
    border-collapse: collapse;
}

.files-table td, th {
    border: 1px solid black;
    padding: 4px;
}

.files-table th {
    text-align: left;
}

.ft-row-even {
    background-color: #b0ffc4;
}

#upload-ok {
    color: green;
    font-weight: bold;
}

* {
    font-family: sans-serif;
}


#file-code, #file-code * {
    font-family: "Cascadia Code", "Cascadia Mono", "Consolas", monospace;
}

.act-link {
    color: green;
    text-decoration: none;
}

.act-link:hover {
    color: lime;
    text-decoration: underline;
}

#nav-header {
    display: inline;
}

#user-settings-box {
    width: fit-content;
}

#nav-mobile-menu-btn {
    float: right;
}

#mobile-menu-header {
    display: table;
    margin: 0 auto;
}
