.filesTable {
    border-collapse: collapse;
}

.filesTable td, th {
    border: 1px solid black;
    padding: 4px;
}

.filesTable th {
    text-align: left;
}

.ftRowEven {
    background-color: #b0ffc4;
}

#uploadOk {
    color: green;
    font-weight: bold;
}

#uploadError {
    color: red;
    font-weight: bold;
}

#fileCode, #fileCode * {
    font-family: monospace;
}

* {
    font-family: sans-serif;
}

.act-link {
    color: green;
    text-decoration: none;
}

.act-link:hover {
    color: lime;
    text-decoration: underline;
}

#nav-header {
    display: inline;
}

#user-settings-box {
    width: fit-content;
}

#nav-mobile-menu-btn {
    float: right;
}

#mobile-menu-header {
    display: table;
    margin: 0 auto;
}
