<!DOCTYPE html>
<html>
    <head>
        <title>jshs | Dashboard</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" type="image/png" href="/img/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include('../partials/navbar.ejs'); %>
        <h2>Dashboard</h2>
        <a href="/files" class="act-link">&gt; Uploaded files</a><br>
        <a href="/uploadPage" class="act-link">&gt; Upload a file</a>
    </body>
</html>
