<!DOCTYPE html>
<html>
    <head>
        <title>jshs | Dashboard</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include('../partials/navbar.ejs'); %>
        <h2>Dashboard</h2>
        <a href="/uploads" class="act-link">&gt; Uploaded files</a><br>
        <a href="/uploadPage" class="act-link">&gt; Upload a file</a>
    </body>
</html>
