<!DOCTYPE html>
<html>
    <head>
        <title>jshs | View file</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include('../partials/navbar.ejs'); %>
        <h2>View video file</h2>
        <%- include('../partials/viewfile-actions.ejs'); %>
        <p id="fileName"></p>
        <hr>
        <div id="videoContainer"></div>

        <script src="js/params.js"></script>
        <script src="js/viewfile-common.js"></script>
        <script>
            const videoContainer = document.querySelector('#videoContainer');

            const rawFileUrl = getRawFileUrl();
            const videoElement = document.createElement('video');
            videoElement.src = rawFileUrl;
            videoElement.controls = true;
            videoContainer.appendChild(videoElement);
        </script>
    </body>
</html>
