<!DOCTYPE html>
<html>
    <head>
        <title>jshs | View file</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include('../partials/navbar.ejs'); %>
        <h2>View image file</h2>
        <%- include('../partials/viewfile-actions.ejs'); %>
        <p id="fileName"></p>
        <hr>
        <img id="imgFile"></img>

        <script src="js/params.js"></script>
        <script src="js/viewfile-common.js"></script>
        <script>
            const img = document.querySelector('#imgFile');

            let rawFileUrl = `/rawFile?name=${getQueryParam('name')}`;
            if (getQueryParam('folder') != undefined) {
                rawFileUrl += `&folder=${getQueryParam('folder')}`;
            }
            img.src = rawFileUrl;
        </script>
    </body>
</html>
