<!DOCTYPE html>
<html>
    <head>
        <title>jshs | View file</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include('../partials/navbar.ejs'); %>
        <h2>View video file</h2>
        <%- include('../partials/viewfile-back.ejs'); %>
        <p id="fileName"></p>
        <hr>
        <div id="videoContainer"></div>

        <script src="js/params.js"></script>
        <script>
            const pFileName = document.querySelector('#fileName');
            const videoContainer = document.querySelector('#videoContainer');
            let fileNameText = getQueryParam('name');
            if (getQueryParam('folder') != undefined) {
                fileNameText = `${getQueryParam('folder')}/${fileNameText}`;
            }
            pFileName.innerText = fileNameText;
            
            let rawFileUrl = `/rawFile?name=${getQueryParam('name')}`;
            if (getQueryParam('folder') != undefined) {
                rawFileUrl += `&folder=${getQueryParam('folder')}`;
            }
            const videoElement = document.createElement('video');
            videoElement.src = rawFileUrl;
            videoElement.controls = true;
            videoContainer.appendChild(videoElement);
        </script>
    </body>
</html>
