<!DOCTYPE html>
<html>
    <head>
        <title>jshs | View file</title>
        <link rel="stylesheet" href="/style.css">
        <% if (colorTheme == "dark") { %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/dark.min.css">
        <% } else { %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/stylesdefault.min.css">
        <% } %>
        <link rel="icon" type="image/png" href="/img/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include('../partials/navbar.ejs'); %>
        <h2>View file</h2>
        <%- include('../partials/viewfile-actions.ejs'); %>
        <p id="fileName"></p>
        <hr>
        <pre><code id="file-code"></code></pre>

        <script src="js/params.js"></script>
        <script src="js/api.js"></script>
        <script src="js/viewfile-common.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/highlight.min.js"></script>
        <script>
            const fileCode = document.querySelector("#file-code");

            jshsApi.rawFile(getQueryParam("folder"), getQueryParam("name"), data => {
                fileCode.textContent = data;
                hljs.highlightAll();
            });
        </script>
    </body>
</html>
