<!DOCTYPE html>
<html>
    <head>
        <title>jshs | View file</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" type="image/png" href="/img/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include('../partials/navbar.ejs'); %>
        <h2>View image file</h2>
        <%- include('../partials/viewfile-actions.ejs'); %>
        <p id="fileName"></p>
        <hr>
        <img id="imgFile"></img>

        <script src="js/params.js"></script>
        <script src="js/viewfile-common.js"></script>
        <script>
            const img = document.querySelector("#imgFile");
            const rawFileUrl = getRawFileUrl();
            img.src = rawFileUrl;
        </script>
    </body>
</html>
