<!DOCTYPE html>
<html>
    <head>
        <title>jshs | View file</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" type="image/png" href="/img/favicon.png">
    </head>
    <body>
        <%- include('../partials/navbar.ejs'); %>
        <h2>View audio file</h2>
        <%- include('../partials/viewfile-actions.ejs'); %>
        <p id="fileName"></p>
        <hr>
        <div id="audioContainer"></div>

        <script src="js/params.js"></script>
        <script src="js/viewfile-common.js"></script>
        <script>
            const audioContainer = document.querySelector("#audioContainer");

            const rawFileUrl = getRawFileUrl();
            const audioElement = new Audio(rawFileUrl);
            audioElement.controls = true;
            audioContainer.appendChild(audioElement);
        </script>
    </body>
</html>
