<!DOCTYPE html>
<html>
    <head>
        <title>jshs | View file</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include('../partials/navbar.ejs'); %>
        <h2>View file</h2>
        <%- include('../partials/viewfile-actions.ejs'); %>
        <p id="fileName"></p>
        <hr>
        <pre id="fileContents"></pre>

        <script src="js/params.js"></script>
        <script src="js/api.js"></script>
        <script src="js/viewfile-common.js"></script>
        <script>
            const fileContents = document.querySelector("#fileContents");

            jshsApi.rawFile(getQueryParam("folder"), getQueryParam("name"), data => {
                fileContents.innerText = data;
            });
        </script>
    </body>
</html>
