<!DOCTYPE html>
<html>
    <head>
        <title>jshs | Stats</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" type="image/png" href="/img/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include('../partials/navbar.ejs'); %>
        <h2>Stats</h2>
        <button id="btnRefresh">Refresh</button>
        <p>Disk usage: <span id="diskUsage">[...]</span></p>
        <p>Running on: <span id="runningOn">[...]</span></p>
        <p>Total uploads size: <span id="uploadSize">[...]</span></p>
        <p>Running on Node.js <span id="njsVersion">[...]</span></p>
        <p>jshs version <span id="jshsVersion">[...]</span></p>

        <script src="js/api.js"></script>
        <script src="js/filesize.js"></script>
        <script>
            const spDiskUsage = document.querySelector("#diskUsage");
            const spRunningOn = document.querySelector("#runningOn");
            const spUploadSize = document.querySelector("#uploadSize");
            const spNjsVersion = document.querySelector("#njsVersion");
            const spJshsVersion = document.querySelector("#jshsVersion");
            const btnRefresh = document.querySelector("#btnRefresh");

            const updateStats = () => {
                spDiskUsage.innerText = "...";
                spRunningOn.innerText = "...";
                spUploadSize.innerText = "...";
                spNjsVersion.innerText = "...";
                spJshsVersion.innerText = "...";

                jshsApi.getStats(statsRaw => {
                    const stats = JSON.parse(statsRaw);
                    const freeSpace = stats.diskSpace.free;
                    const totalSpace = stats.diskSpace.size;
                    const usedSpace = totalSpace - freeSpace;
                    const usedPercent = Math.round(((100 * usedSpace) / totalSpace) * 10) / 10;

                    const strFree = strFileSize(freeSpace);
                    const strTotal = strFileSize(totalSpace);
                    const strUsed = strFileSize(usedSpace);

                    const runningOn = stats.runningOn;
                    const uploadSize = stats.uploadSize;
                    const njsVersion = stats.nodeVersion;
                    const jshsVersion = stats.softwareVersion;

                    spDiskUsage.innerText = `${strUsed}/${strTotal} (${usedPercent}%) used, ${strFree} free`;
                    spRunningOn.innerText = runningOn;
                    spUploadSize.innerText = strFileSize(uploadSize);
                    spNjsVersion.innerText = njsVersion;
                    spJshsVersion.innerText = jshsVersion;
                });
            };

            updateStats();
            btnRefresh.onclick = updateStats;
        </script>
    </body>
</html>
