<!DOCTYPE html>
<html>
    <head>
        <title>jshs | Upload a file</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <%- include('../partials/navbar.ejs'); %>
        <h2>Upload a file</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" required><p></p>
            <span>Folder:&nbsp;&nbsp;</span><input type="text" name="folder" placeholder="Leave empty for root folder"><p></p>
            <button type="submit">Upload</button>
        </form>
        <p id="uploadOk">File uploaded successfully.</p>

        <script src='js/params.js'></script>
        <script>
            const pUploadOk = document.querySelector("#uploadOk");
            if (getQueryParam("uploadOk") != "yes") {
                pUploadOk.style.display = "none";
            }
        </script>
    </body>
</html>
